*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 2;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    min-height: 100vh;
}

img{
    position: absolute;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
    background-size: cover;
    top: 0;
    left: 0;
    min-height: 100vh;
}

.titulo{
    position: absolute;
    z-index: 2;
    margin-top: 100px;
    background-color: rgb(167, 210, 248);
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;

    display: block !important;
    justify-content: initial !important;
    align-items: initial !important;
}

.depoimentos{
    max-width: 800px;
    width: 600px;;
    
    margin: 30px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.carrossel{
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    margin: auto;
    
}

/*esconde os radio buttons*/
input[type="radio"]{
    display: none;
}

.slides{
   
    display: flex;
    width: 400%;
    transition: transform 0.5s ease-in-out;
}

.slide{
    width: 100%;
    padding: 0px;
    flex-shrink: 0;
    transition: opacity 0.5s;
    box-sizing: border-box;
    text-align: center;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.1vh;
    background-color: rgba(128, 188, 244, 0.397);
  
}

.slide > p{
    font-size: 23px;
    width: 550px;
    margin-left: 30px;
}

.slide > h4{
    text-align: justify;
    margin-top: 60px;
    margin-left: 200px;
}

/*contorle dos slides*/
#slide1:checked ~ .slides{
    transform: translateX(0%);
}

#slide2:checked ~ .slides{
    transform: translateX(-100%);
}

#slide3:checked ~ .slides{
    transform: translateX(-200%);
}

.navegacao{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}

.navegacao label{
    width: 10px;
    height: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: rgba(1, 105, 217, 0.825);
    transition: background 0.3s;
   
}



#slide1:checked ~ .navegacao label:nth-child(1),
#slide2:checked ~ .navegacao label:nth-child(2),
#slide3:checked ~ .navegacao label:nth-child(3){
    background: #555;
}



/* Media Query para telas menores que 768px (tablets) */
@media screen and (min-width: 780px) {
    span#burguer{
        display: none;
    }
    menu{
        display: none;
    }
    nav.desktop-menu{
        display: block;
    }
    
}

@media screen and (max-width: 779px) {
    body{
        font-size: 14xp;
    }
    div.texto{
        font-size: 10vw;
    }
    nav.desktop-menu{
        display: none;
    }
    menu{
        display: none;
    }
    
}


