
/* Media Query para telas menores que 768px (tablets) */
@media screen and (min-width: 780px) {
    span#burguer{
        display: none;
    }
    menu{
        display: none;
    }
    nav.desktop-menu{
        display: block;
    }
    
}

@media screen and (max-width: 767px) {
    nav.desktop-menu{
        display: none;
    }
    menu{
        display: none;
    }
    
}
