*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    position: absolute;
    z-index: 1;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

body{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
}


h1{
    position: relative;
    background-color: rgb(146, 97, 24);
    text-align: center;
    color: blanchedalmond;
    z-index: 2;
    margin-top: 50px;
    padding: auto;
    width: 100%;
    font-size: 3vw;
    padding: auto;
    
  
}

.desktop-menu{
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgb(146, 97, 24);
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
    
}

nav > ul > a{
    font-size: 25px;
    padding: 40px;
    margin: 50px;
    color: blanchedalmond;
    text-align: center;
}
.texto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}
.texto > p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; 
    font-size: 1.8vw;
    text-align: justify;
    background-color: rgba(146, 97, 24, 0.171);
  
}