*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

h1{
    position: relative !important;
    width: 100% !important;
    z-index: 2;
    background-color: blanchedalmond;
    font-size: 70px;
    text-align: center;
    padding: 10px;
    color: rgb(86, 62, 27);
}

h2{
    font-size: 45px;
    padding-top: 20px;
    margin-top: 50px;
    position: relative;
    z-index: 2;
    color: rgb(86, 62, 27);
}

body{
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    overflow-y: auto;
    min-height: 100vh;
    
}

div.texto{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    text-align: center;
    margin-left: 70px;
    max-width: 800px;
    font-size: 1.8vw;
    width: 100%;
    margin: 0;
    
}




/* Media Query para telas menores que 768px (tablets) */
@media screen and (min-width: 780px) {
    span#burguer{
        display: none;
    }
    menu{
        display: none;
    }
    nav.desktop-menu{
        display: block;
    }
    
}

@media screen and (max-width: 779px) {
    body{
        font-size: 14xp;
    }
    div.texto{
        font-size: 1.3vw;
    }
    nav.desktop-menu{
        display: none;
    }
    menu{
        display: none;
    }
    
}


